<!DOCTYPE html>
<html>
<head>
  <title>NanoTwitter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>
<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">NanoTwitter by ReptileSplash</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/home">Home</a></li>
      <li><a href="/user/<%= session[:id] %>">My Tweets</a></li>
      <li class="active"><a href="/browse">Browse</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/settings">Settings</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-md-8">
      <hr>
      <% Tweet.order(created_at: :desc).first(50).each do |t| %>
      <% author = User.find_by(id: t.user_id) %>
      <% tweet = t.text %>
      <% time = t.created_at.to_s %>
        <div>
          <img src="/avatars/default-avatar.jpg" class="avatar" width="50" height="50">
          <h4><%= tweet %></h4>
          <p class="post-meta"><h6><a href="/user/<%= author.id %>">
            <%= author.username %></a><%= " "+time %> via web</h6></p>
        </div>
      <hr>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>
