<!DOCTYPE html>
<html>
<head>
  <title>NanoTwitter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>
<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">NanoTwitter by ReptileSplash</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="/home">Home</a></li>
      <li><a href="/user/<%= session[:id] %>">My Tweets</a></li>
      <li><a href="/browse">Browse</a></li>
      <li><a>Search</a></li>
      <li><a>Settings</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <img src="/avatars/default-avatar.jpg" class="img-thumbnail" width="150" height="150">
      User: <%= @user.username %><br />
      Bio: <%= @user.bio %><br />
      <% if @user.id != session[:id] %>
        <% follower_ids = @user.followers.map {|u| u.id} %>
        <form action="/update_relation" method="POST">
          <input type="submit" name="status" value="<%
           if follower_ids.include? session[:id] %>Unfollow<% else %>Follow<% end
           %>" /><br />
        </form>
      <% end %>
      <ul class="list-inline">
        <li class="horizontal first">
          <a href="/user/<%= @user.id %>/following">
            <span class="stat_count"><%= @user.followed_users.where("followed_user_id != ?", @user.id).size %></span>
            <span class="stat_label">following</span>
          </a>
        </li>
        <li class="horizontal">
          <a href="/user/<%= @user.id %>/followers">
            <span class="stat_count"><%= @user.followers.where("user_id != ?", @user.id).size %></span>
            <span class="stat_label">followers</span>
          </a>
        </li>
        <li class="horizontal">
          <a href="/user/<%= @user.id %>">
            <span class="stat_count"><%= Tweet.where("user_id = ?", @user.id).size %></span>
            <span class="stat_label">tweets</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      Follower:
      <hr>
      <% @user.followers.each do |u| %>
        <% if u.username != @user.username %>
        <div>
          <img src="/avatars/default-avatar.jpg" class="avatar" width="50" height="50">
          <h5><a href="/user/<%= u.id %>"><%= u.username %></a></h5>
          bio: <%= u.bio %>
        </div>
        <hr>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>
